@import "~/assets/variables.scss";

.home p {
  text-indent: 10px;
}

.home .lead {
  font-size: 140%;
  line-height: 140%;
  text-indent: 0;
  margin-bottom: 20px;
}

.home .no {
  display: inline-block;
  font-size: 120%;
  margin: 0 3px 0 4px;
  position: relative;
  top: 2px;
}

.home em.item {
  text-decoration: underline;
}

.photo {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding-top: 4px; /* aesthetics of cmp text height */
}
.photo .placeholder {
  position: relative;
  overflow: hidden;
}
.photo .placeholder .ratio {
  padding-top: 66.5%;
  box-sizing: border-box;
}

.me {
  position: absolute;
  top: 0;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.portrait_credits {
  text-align: right;
  margin: 5px;
  font-size: 13px;
  font-style: italic;
}

@include md {
  .photo {
    margin: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
  }
  .home .content {
    margin-left: 330px;
  }
}

@include lg {
  .photo {
    width: 400px;
  }
  .home .content {
    margin-left: 440px;
  }
}

@include xl {
  .photo {
    width: 450px;
  }
  .home .content {
    margin-left: 500px;
  }
}
