.header {
  max-width: 800px;
  margin-top: 50px;

  .email {
    letter-spacing: 1px;
    font-family: monospace;
    font-size: 11px;
  }
  .email a {
    text-decoration: none;
    color: #999;
  }
  .email a em {
    font-style: normal;
    font-weight: bold;
    color: #000;
  }

  .menu {
    margin: 0;
    padding: 0;

    li {
      display: inline;
      list-style: none;
      margin-right: 10px;

      a {
        display: inline-block;
        position: relative;
        text-transform: lowercase;
        font-weight: 600;
        color: #000;
        text-decoration: none;
        font-size: 25px;
        line-height: 30px;

        span:after {
          content: ".";
        }

        &.active span {
          font-style: italic;
        }

        &:focus,
        &:focus span {
          text-decoration: underline;
        }
      }
    }
  }
}
