@tailwind base;
@tailwind components;
@tailwind utilities;

/* hello! */

html {
  margin: 0;
  padding: 0;
}

html * {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
}

.wrap {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.wrapr {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1100px) {
  .wrapr {
    max-width: 950px;
  }
}

@media (min-width: 1300px) {
  .wrapr {
    max-width: 1100px;
  }
}

html,
body {
  -webkit-text-size-adjust: none;
  font-size: 17px;
}

body {
  font-family: kings-caslon, serif;
  color: #333;

  line-height: 160%;

  text-transform: none;
}

body.dark {
  background: #222 !important;
  color: #ddd !important;
}

h1 {
  margin: 60px 0 40px 0;
  text-align: center;

  font-weight: bold;
  font-size: 22px;
  color: #000;
  line-height: 30px;

  text-transform: uppercase;
  letter-spacing: 1px;
}

.dark h1 {
  color: #fff;
}

h2 {
  margin: 64px 0 32px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: #000;
  line-height: 30px;
}

.dark h2 {
  color: #fff;
}

p {
  margin: 20px 0;
}

.link {
  color: black;
  font-weight: bold;

  display: inline-block;
  position: relative;
  margin: 0 1px;
  outline: none;
  background: transparent;

  text-decoration: none;
}

.dark .link {
  color: white;
}

.link:after {
  content: " ";
  pointer-events: none;
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  top: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.dark .link:after {
  border-bottom-color: rgba(255, 255, 255, 0.3) !important;
}

.link:hover::after {
  border-bottom-color: black;
}

.dark .link:hover::after {
  border-bottom-color: white !important;
}

.link:focus::after {
  left: -2px;
  right: -2px;
  border: 2px solid black;
}

.dark .link:focus::after {
  border-color: white !important;
}
