@import url("https://use.typekit.net/pak0fwg.css");
@import "~/assets/variables.scss";

/**
 * Misc
 */

:global(.noselect) {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

:global(.mobile-only) {
  display: none;
}

@include sm {
  :global(.mobile-only) {
    display: block;
  }
  :global(.desktop-only) {
    display: none;
  }
}

/**
 * Layout
 */

html {
  margin: 0;
  padding: 0;
}

html * {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  cursor: crosshair;
}

::selection {
  background-color: #222;
  color: white;
}

::-moz-selection {
  background-color: #222;
  color: white;
}

:global(.wrap) {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

:global(.wrapr) {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

@include lg {
  :global(.wrapr) {
    max-width: 950px;
  }
}

@include xl {
  :global(.wrapr) {
    max-width: 1100px;
  }
}

:global(.wrap600) {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

article {
  margin-top: 100px;
  position: relative;
}

html,
body {
  -webkit-text-size-adjust: none;
  font-size: 15px;
}

body {
  font-family: adobe-caslon-pro, serif;
  color: #333;

  line-height: 160%;

  text-transform: none;
}

h1 {
  position: relative;

  margin: 80px 0 40px 0;
  text-align: center;

  font-weight: bold;
  font-size: 22px;
  color: #000;
  line-height: 30px;

  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 strong {
  display: inline-block;
  position: relative;
}

:global(.header-anchor) {
  display: none;
}

p:global(.sub) {
  position: relative;
  top: -30px;
  text-align: center;
}

p {
  margin: 20px 0;
}

a {
  color: #555;
}

main {
  a {
    margin: 0 1px;
    outline: 0px solid #eee;
    outline-offset: 2px;
    background: transparent;
  }
  a:focus {
    outline-offset: 0;
    outline-width: 2px;
    background: #eee;
  }
}
